 {{#ember-wormhole to="destination"}} {{#link-to source class="navbar-brand"}}
<img src="/media/atras.png" width="25" height="24"> Actividades {{/link-to}} {{/ember-wormhole}} {{outlet}}



<div style="float:left; position: fixed; z-index: 900;width: 100%; margin-top: 55px;">
    <div class="card-block">
        <ul class="nav nav-tabs nav-justified" style="background-color: #343a40; color: aliceblue">
            <li class="nav-item">
                <a class="nav-link active" id="active-tab" data-toggle="tab" href="#active" aria-controls="active" aria-expanded="true">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Todas</font>
                    </font>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link-tab" data-toggle="tab" href="#link" aria-controls="link" aria-expanded="false">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Gratis</font>
                    </font>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="linkOpt-tab" data-toggle="tab" href="#linkOpt" aria-controls="linkOpt" aria-expanded="false">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Pago</font>
                    </font>
                </a>
            </li>
        </ul>
        {{!--
        <div class="tab-content px-1 pt-1">
            <div role="tabpanel" class="tab-pane fade" id="active" aria-labelledby="active-tab" aria-expanded="false">
                <p>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Macarrones dulces bastones tootsie rollo oblea limón gotas regaliz jalea-o tootsie rollo pastel.
                        </font>
                        <font style="vertical-align: inherit;">Marzapán regaliz soufflé algodón dulce jalea pastel jelly-o azúcar ciruela malvavisco. </font>
                        <font style="vertical-align: inherit;">Dulce de postre de azúcar de chocolate macarrón chocolate azúcar ciruela pastel donut.</font>
                    </font>
                </p>
            </div>
            <div class="tab-pane fade" id="link" role="tabpanel" aria-labelledby="link-tab" aria-expanded="false">
                <p>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Gummies de sésamo de la barra de chocolate snaps. </font>
                        <font style="vertical-align: inherit;">El sésamo de la torta de regaliz broche dulce de caramelo de algodón pastel de brownie. </font>
                        <font style="vertical-align: inherit;">Brownie de los bastones de caramelo de caramelo de algodón. </font>
                        <font style="vertical-align: inherit;">Biscuit pudding de sésamo snaps con leche pudín de sésamo rompe tiramisú de galleta.</font>
                    </font>
                </p>
            </div>
            <div class="tab-pane fade active in" id="linkOpt" role="tabpanel" aria-labelledby="linkOpt-tab" aria-expanded="true">
                <p>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Cookie iceing tootsie roll cupcake jelly-o sésamo snaps. </font>
                        <font style="vertical-align: inherit;">Gummies cookie dragée cake jelly mazapán donut pie macarrón. </font>
                        <font style="vertical-align: inherit;">Gingerbread en polvo torta de chocolate glaseado. </font>
                        <font style="vertical-align: inherit;">Cheesecake gummi lleva helado de mazapán.</font>
                    </font>
                </p>
            </div>
        </div> --}}
    </div>
</div>


<div class="container" style="float:left; position: fixed; z-index: 900; margin-top: 98px">

    <div class="btn-group" style="width: 100%; margin: 0%">
        <div class="btn-group btn-group-sm filtro">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Tipos de Actividades
            </button>

            <div class="dropdown-menu">

                <div class="dropdown-item">
                    <label class="form-check-label" for="check2">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something" checked>Todas
                    </label>
                </div>

                <div class="dropdown-item">
                    <label class="form-check-label" for="check2">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Taller
                    </label>
                </div>

                <div class="dropdown-item">
                    <label class="form-check-label" for="check2">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Presentación
                    </label>
                </div>

                <div class="dropdown-item">
                    <label class="form-check-label" for="check2">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Conferencia
                    </label>
                </div>

                <div class="dropdown-item">
                    <label class="form-check-label" for="check2">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Descanso
                    </label>
                </div>

                <div class="dropdown-item">
                    <label class="form-check-label" for="check2">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Visita
                    </label>
                </div>

            </div>
        </div>

        <div class="btn-group btn-group-sm filtro">

            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Fecha de Actividades
            </button>

            <div class="dropdown-menu">

                <div class="dropdown-item">
                    <label class="form-check-label" for="check2">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Vie. 18 de Mayo 2018
                    </label>
                </div>

                <div class="dropdown-item">
                    <label class="form-check-label" for="check2">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Sab. 19 de Mayo 2018
                    </label>
                </div>

                <div class="dropdown-item">
                    <label class="form-check-label" for="check2">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Dom. 20 de Mayo 2018Hola
                    </label>
                </div>

            </div>
        </div>
    </div>
</div>





<div class="container" style="float:left; position: absolute; margin-top: 150px; margin-bottom: 55px; color:aliceblue">


    <div class="col-md-3">
        <div class="card cta cta--featured" style=" background-color: rgb(224, 224, 250);">
            <span class="header-line gradient-color-1"></span>
            <br>
            <div class="container" style="width: 300px;">
                {{#link-to "logged.detalleactividades" (query-params source= "logged.actividades")}}

                <div class="card-block center" style="text-align: inherit; color:#000">
                    <h5 class="card-title no-margin-top">SER Y SENTIDO: ANÁLISIS DEL SER INTERROGADO
                    </h5>
                    <h6 class="card-subtitle text-muted">vie. 18 de may. de 2018</h6>
                    <br>
                    <h6 class="card-subtitle text-muted">4:15 pm - 5:15 pm</h6>


                    <hr style="background-color: #d1d1f8;" />
                    <p class="list-group-item-text">
                        Juan Felipe Miramontes Hernández
                    </p>
                    <p>
                        <span class="badge badge-pill badge-dark">Conferencia </span>
                    </p>
                </div>
                {{/link-to}}
            </div>
        </div>
    </div>

    <br>

    <div class="col-md-3">
        <div class="card cta cta--featured" style=" background-color: rgb(224, 224, 250);">
            <span class="header-line gradient-color-1"></span>
            <br>
            <div class="container" style="width: 300px;">
                {{#link-to "logged.detalleactividades" (query-params source= "logged.actividades")}}
                <div class="card-block center" style="text-align: inherit; color:#000">
                    <h5 class="card-title no-margin-top">LOS MITOS DE LA RESILIENCIA
                    </h5>
                    <h6 class="card-subtitle text-muted">vie. 18 de may. de 2018</h6>
                    <br>
                    <h6 class="card-subtitle text-muted">5:15 pm - 6:15 pm</h6>
                    <hr style="background-color: #d1d1f8;" />
                    <p class="list-group-item-text">
                        Ponentes: Patricia Marcela Crast
                    </p>
                    <p>
                        <span class="badge badge-pill badge-dark">Conferencia </span>
                    </p>
                </div>
                {{/link-to}}
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>

</div>