{{#ember-wormhole to="destination"}} Ajuestes {{/ember-wormhole}} {{outlet}}


<script>
    function myFunction() {

        var more = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Nuevo evento";
            more.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Cancelar";
            more.style.display = "inline";
        }
    }
</script>

<style>
    #more {
        display: none;
    }
</style>
<br>
<br>
<br>

<div class="container" style="text-align: center">
    <button type="button" class="btn btn-dark" onclick="myFunction()" id="myBtn">Nuevo Ebento</button>
    <span id="dots"></span>
    <span id="more">
        <hr style="background-color: rgb(234, 186, 238);" />

        <div class="form-group" style="text-align: left; margin-top: 0%; margin-left: 25%;">
            {{input type="text" class="form-control" placeholder="Ingresa el token" name="" style="width: 60%" value=token focus-out=(action
            'toogleError' 'token')}}
        </div>
        <div class="form-group" style="text-align: center; color: red">
            {{#if tokenErrorCheck}} {{v-get this 'token' 'message'}} {{/if}}
        </div>

        <button {{action 'newEvento' token }} class="btn btn-outline-dark">Incribirse</button>

    </span>
</div>
<div class="container">
    <hr style="background-color: rgb(234, 186, 238);" />
    <div style="text-align: center">    
        <h4 style="margin-bottom: 20px;">
            <img src="/media/sonido.png" alt="sonido.png" width="50" height="50"> &nbsp; Audio de notificaciones</h4>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            --Selecciona--
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="">Sonar</a>
            <a class="dropdown-item" href="">Vibrar</a>
            <a class="dropdown-item" href="">Sonar y vibrar</a>
            <a class="dropdown-item" href="">Silencio</a>
        </div>
        <br>
        <hr style="background-color: rgb(234, 186, 238);" />

        <div>
            <h4 style="margin-bottom: 20px;">
                <img src="/media/notificaciones.png" alt="sonido.png" width="45" height="45"> &nbsp; Notificarme
            </h4>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                --Selecciona--
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <a class="dropdown-item" href="#">15 min. antes del evento</a>
                <a class="dropdown-item" href="#">30 min. antes del evento</a>
                <a class="dropdown-item" href="#">1 hr. antes del evento</a>
                <a class="dropdown-item" href="#">2 hrs. antes del evento</a>                
            </div>
            <br>
            <hr style="background-color: rgb(234, 186, 238);" />
        </div>
    </div>


    <div style="text-align: center">
        {{#link-to "logged.ajustescuenta" class="btn btn-success"}} Configurar cuenta {{/link-to}}
    </div>
    <br>

    <div class="warning confirm" id="confirm-dialog" style="text-align:center; margin:0%">

        <div class="ui">
            <button {{action 'logout' on='click' }} class="btn btn-danger">Cerrar Sesion</button>
        </div>         

    </div>
</div>
<br>
<br>