{{#ember-wormhole to="destination"}} {{#link-to "logged.ajustes" class="navbar-brand"}}
<img src="/media/atras.png" width="20" height="20"> Ajustes cuenta {{/link-to}} {{/ember-wormhole}} {{outlet}}

<br>
<br>
<br>

<div class="container">

    {{#each model.cargarUsuario as |perfil|}}

    <div class="cardponente">
        <br>
        <form style="color: black">
            <div class="form-group">                
                <h3 style="margin-bottom: 5%;">{{perfil.name}}</h3>                
                
                <label style="margin-left: -60%">Interes:</label>

                <br> {{textarea type="tex" cols="80" rows="3" class="input textA" placeholder="Interes" value=perfil.interes
                focus-out=(action 'toogleError' 'interes')}}
                <div style="color: rgb(247, 38, 38)">
                    {{#if interesErrorCheck}} {{v-get this 'interes' 'message'}} {{/if}}
                </div>
            </div>
            <hr>


        </form>

        <div>
            <img class="imgperfil" src="{{perfil.img}}" alt="perfil" style="margin-top: 3%">
        </div>


        <button class="btn btn-outline-dark" style="margin: 4%">Foto de perfil</button>


        <br> {{#link-to "logged.ajustes"}}
        

        <button {{action 'actualizarPerfil' perfil}} class="buttoncard" >Guardar cambios</button>

        

        {{/link-to}}
    </div>

    {{/each}}




    <br>
    <br>
    <br>


</div>