{{#ember-wormhole to="destination"}} Contactos {{/ember-wormhole}} {{outlet}}
<br>
<br>
 {{!-- Token {{input type='text' value=token}}
<button {{action 'crearToken'}}> Agregar </button>

<br> {{#each model as |token|}} id---{{token.id}} Token {{input type='text' value=token.codigo_token}} {{#each token.account
as |cuenta|}} idCuenta {{cuenta.id}}
<br> nombre {{input type="text" value=cuenta.name}}
<br>
<button {{action 'crearUsuario' token cuenta }}>Guardar dir</button>
{{else}} No tiene llantas
<br> {{/each}}
<button {{action 'agregarCuenta' token }}>Agregar Cuenta</button>
<br>





<button {{action 'updateToken' token}}> Actualizar </button>


{{/each}} --}}






<div class="w3-container ">

{{#each model.cargarEvento as |evento|}}

    {{#each evento.account as |cuentaEvento|}}

        <div class="w3-cell-row">
            {{#link-to "chat" (query-params name= "chat")}}
            <div class="w3-cell" style="width:30%; ">
                <img class="w3-circle" src="{{cuentaEvento.img}}">
            </div>
            <div class="w3-cell w3-container">
                <h4 style="margin-bottom: 2px">{{cuentaEvento.name}}</h4>
                <small style="color: aliceblue">{{cuentaEvento.interes}}</small>
            </div>
            <span class="time-right" style="margin-top: 50px; margin-right: 4%">19:50</span>
            {{/link-to}}
            <hr class="styleHr">
        </div>

    {{/each}}

{{/each}}

</div>



{{#each model.cargarUsuarios as |user|}}

<h3 style="color: black">{{user.name}}</h3>
<br>


{{/each}}



<button {{action 'login' '123' }} class="btn btn-dark btn-lg btnLogin">Acceder</button>




















{{!--
<div class="w3-container ">
    <div class="w3-cell-row">
        {{#link-to "chat"}}
        <div class="w3-cell" style="width:30%; ">
            <img class="w3-circle" src="media/in3.jpg">
        </div>
        <div class="w3-cell w3-container">
            <h4 style="margin-bottom: 2px">Usuario name</h4>
            <small style="color: aliceblue">profesional en ciencias</small>
        </div>
        <span class="time-right" style="margin-top: 50px; margin-right: 4%">19:50</span>
        {{/link-to}}
        <hr class="styleHr">
    </div>

    <div class="w3-cell-row ">
        {{#link-to "chat"}}
        <div class="w3-cell" style="width:30%; ">
            <img class="w3-circle" src="media/in9.jpg">
        </div>
        <div class="w3-cell w3-container">
            <h4 style="margin-bottom: 2px">Usuario 2</h4>
            <small style="color: aliceblue">Profesional en educacion</small>
        </div>
        <span class="time-right" style="margin-top: 50px; margin-right: 4% ">19:50</span>
        {{/link-to}}
        <hr class="styleHr">
    </div>


    <div class="w3-cell-row ">
        {{#link-to "chat"}}
        <div class="w3-cell" style="width:30%; ">
            <img class="w3-circle" src="media/in2.jpg">
        </div>
        <div class="w3-cell w3-container">
            <h4 style="margin-bottom: 2px">Usuario 3</h4>
            <small style="color: aliceblue">Profesional en educacion</small>
        </div>
        <span class="time-right" style="margin-top: 50px; margin-right: 4% ">19:50</span>
        {{/link-to}}
        <hr class="styleHr">
    </div>


    <div class="w3-cell-row ">
        {{#link-to "chat"}}
        <div class="w3-cell" style="width:30%; ">
            <img class="w3-circle" src="media/in1.jpg">
        </div>
        <div class="w3-cell w3-container">
            <h4 style="margin-bottom: 2px">Usuario 4</h4>
            <small style="color: aliceblue">Profesional en psicologia</small>
        </div>
        <span class="time-right" style="margin-top: 50px; margin-right: 4% ">19:50</span>
        {{/link-to}}
        <hr class="styleHr">
    </div>


    <div class="w3-cell-row ">
        {{#link-to "chat"}}
        <div class="w3-cell" style="width:30%; ">
            <img class="w3-circle" src="media/in10.jpg">
        </div>
        <div class="w3-cell w3-container">
            <h4 style="margin-bottom: 2px">Usuario 5</h4>
            <small style="color: aliceblue">Profesional en psicologia</small>
        </div>
        <span class="time-right" style="margin-top: 50px; margin-right: 4% ">19:50</span>
        {{/link-to}}
        <hr class="styleHr">
    </div>



    <div class="w3-cell-row">
        {{#link-to "chat"}}
        <div class="w3-cell" style="width:30%; ">
            <img class="w3-circle" src="media/in7.jpg">
        </div>
        <div class="w3-cell w3-container">
            <h4 style="margin-bottom: 2px">Usuario 6</h4>
            <small style="color: aliceblue">profesional en filosofia</small>
        </div>
        <span class="time-right" style="margin-top: 50px; margin-right: 4% ">19:50</span>
        {{/link-to}}
        <hr class="styleHr">
    </div>


</div>
--}}

<br>
<br>
<br>