 {{#ember-wormhole to="destination"}} {{#link-to source class="navbar-brand"}}
<img src="/media/atras.png" width="20" height="20"> Detalle actividad {{/link-to}} {{/ember-wormhole}} {{outlet}}

<div class="container parallax mg">
    <br>
    <br>
    <br>

    <div class="jumbotron" style="margin: 2%">
        <p class="text-center" style=" color: midnightblue">SER Y SENTIDO: ANÁLISIS DEL SER INTERROGADO</p>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    <hr style="background-color: rgb(214, 38, 230);" />
                    <small>Datos básicos</small>

                </h3>

                <dl class="dl-horizontal">
                    <dt>Fecha de inicio y fin:</dt>
                    <dd>Del
                        <b>viernes 18 mayo, 4:15 pm</b> al
                        <b>viernes 18 mayo, 5:15 pm</b>
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Lugar:</dt>
                    <dd>
                        <!---->,
                        <!---->
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Categorias:</dt>
                    <dd>Conferencia</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Descripcion:</dt>
                    <dd>
                        <i>No especificada</i>
                    </dd>
                </dl>
            </div>




            <div class="col-md-12">
                <hr style="background-color: rgb(214, 38, 230);" />
                <h3>
                    <small>Inscripción</small>
                </h3>
                <p>No hay especificaciones de cupo o costo para este contenido.</p>
            </div>

            <div class="col-md-12">
                <hr style="background-color: rgb(214, 38, 230);" />
                <h3>
                    <small>Ponentes</small>
                </h3>

                <div class="media" style="width: 100%;">
                    <div style="width: 40%;">
                        <img class="media-object" src="/media/MtroNaty.webp" style="height:100px;width:100px;">
                    </div>
                    <div class="media-body" style="width: 80%;">
                        <dt style="color: black">Nombre: </dt>
                        <dl>
                            <dd>Juan Felipe Miramontes Hernández </dd>
                            <!---->
                        </dl>
                    </div>
                </div>
                <br>
                <button type="button" class="btn btn-block btn-success">Recordar</button>
            </div>
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>