 {{#ember-wormhole to="destination"}} {{#link-to "logged.ponentes" class="navbar-brand"}}
<img src="/media/atras.png" width="20" height="20"> Perfil {{/link-to}} {{/ember-wormhole}} {{outlet}}


<br>
<br>
<br>

<div class="container  ">

    <div class="cardponente">
        <div>
            <img class="imgp" src="media/MtroNaty.webp" alt="John" style="margin-top: 8%">
        </div>
        <br>
        <h3 style="margin-bottom: 10px">Natividad Castrejon V.</h3>
        <p class="titlep">Job</p>
        <p class="titlep">Email</p>        
        <div style="margin: 10px;">
            
                <img class="imagen" width="65" heigth="65" src="media/facebook.png">
                        
                <img class="imagen" width="50" heigth="50" style="border-radius: 20%" src="media/twitter.png">            
        </div>

        <p class="titlep">descripcion</p>
        

        {{#link-to "logged.actividades" (query-params source= "logged.detalleponentes") }}
        <button class="buttoncard">Ver Actividades </button> {{/link-to}}
    </div>



</div>
<br>
<br>
<br>