<script>
    function auto_grow(element) {
        element.style.height = (element.scrollHeight) + "px";
    }
    function auto(element) {
        element.style.height = (element.scrollHeight) + "px";
    }
</script>


<div>
    <!--<nav class="navbar navbar-expand-md bg-dark navbar-dark sidebarNavigation fixed-top" data-sidebarClass="navbar-dark bg-dark">-->
    <nav class="navbar bg-dark navbar-dark sidebarNavigation fixed-top" data-sidebarClass="navbar-dark bg-dark" style="position: fixed;">

        {{#link-to "logged.contactos" class="navbar-brand"}}
        <img src="/media/atras.png" width="27" height="27"> Usuario {{/link-to}}
        <img src="media/in9.jpg" alt="Avatar" id="avatar" class="rounded-circle float-sm-right">

        <button class="navbar-toggler leftNavbarToggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li>
                    <hr style="background-color: rgb(209, 209, 248);" />

                    <p style="color: rgb(124,160,242);">Perfil</p>
                    <div class="panel-body" style="height: 50%;">
                        <!--#343a40-->
                        <div style="background-color:	#343a40;">
                            <div style=" text-align: center !important;">
                                <img src="/media/blog1.jpg" class="rounded-circle" alt="Cinque Terre" width="130" height="120">
                            </div>
                            <label style="color: rgb(255, 255, 255); height: 4em" for="usu">Usuario:</label>
                        </div>
                    </div>
                </li>
                <li>

                    <hr style="background-color: rgb(209, 209, 248);" />
                    <div class="panel-body" style="height: 50%;">
                        <p style="color: rgb(124,160,242);">Eventos</p>
                    </div>
                </li>

                <li class="nav-item">
                    <hr style="background-color: rgb(209, 209, 248);" />
                    <div class="media" style="width: 100%;  height: 10%">
                        <div style="width: 7%;  text-align: center">
                            <img src="/media/cerrar.png" width="35" height="35" />
                        </div>
                        <div class="card-block text-align" style="text-align: center; width: 60%">
                            {{#link-to "login" class="nav-link center"}} Cerrar Session {{/link-to}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<br>


<!--START CHAT-->
<div class="container" onkeyup="auto_grow(this)" onkeydown="auto(this)">
    <br>

    <div>
        <!--inicio de chat-->
        {{#each model as |mensajes|}}


        <div class="chatContactos hero" >
            <div class="w3-cell" style="width:30%;">
                <img src="media/in9.jpg" alt="Avatar" class="w3-circleChat">
            </div>
            <div class="w3-cell w3-container" style="width:100%;">
                <h4 style="margin-bottom: 2px">{{mensajes.sender}}</h4>
                <p>{{mensajes.message}}</p>
            </div>
            <span style="margin-left: 63%; margin-top: -10%">
                {{mensajes.hora}}</span>
        </div>
        {{/each}} {{!-- {{infinity-loader infinityModel=model}} --}} {{!--
        <div class="chatConta darker">
            <img src="media/in2.jpg" alt="Avatar" class="right">
            <p>Hey! I'm fine. Thanks for asking!</p>
            <span class="time-left">
                <i>February 19, 2016 </i>11:01</span>
        </div>

        <div class="chatConta hero">
            <img src="media/in9.jpg" alt="Avatar">
            <p>Sweet! So, what do you wanna do today?</p>
            <span class="time-right">
                <i>February 19, 2016 </i>11:02</span>
        </div>

        <div class="chatConta darker">
            <img src="media/in2.jpg" alt="Avatar" class="right">
            <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
            <span class="time-left">
                <i>February 19, 2016 </i>11:05</span>
        </div>
        <div class="chatConta hero">
            <img src="media/in9.jpg" alt="Avatar">
            <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
            <span class="time-right">
                <i>February 19, 2016 </i>11:05</span>
        </div>
        <div class="chatConta darker">
            <img src="media/in2.jpg" alt="Avatar" class="right">
            <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
            <span class="time-left">
                <i>February 19, 2016 </i>11:05</span>
        </div>
        <div class="chatConta hero">
            <img src="media/in9.jpg" alt="Avatar">
            <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
            <span class="time-right">
                <i>February 19, 2016 </i>11:05</span>
        </div>
        --}}
    </div>
    <br>

</div>

<br>

{{infinity-loader
  infinityModel=model
  loadPrevious=true
  loadedText=null
  loadingText=null}}
{{#each model as |chat|}}

<div class="input-group" id="chat">
    {{#if txtAreaErrorCheck}} {{v-get this 'textMensaje' 'message'}} {{/if}} {{textarea onkeyup="auto_grow(this)" value=textMensaje
    onfocus="clearContent(this)" onkeydown="auto(this)" for="textMensaje" placeholder="Mensaje..." focus-out=(action 'toggleError'
    'textMensaje')}}


    <span class="input-group-btn">
        <button {{action 'createMensaje' textMensaje}}class="btn btn-info" float="right" type="button" style="border-radius: 1px; position:fixed; height: 45px ">Enviar</button>
    </span>
</div>
{{/each}}
{{infinity-loader infinityModel=model hideOnInfinity=true
  loadingText="Loading..."
  loadedText="Loaded!")}}




{{!--
<div class="input-group" id="chat">
    <textarea onkeyup="auto_grow(this)" onkeydown="auto(this)" value="textMensaje" onfocus="clearContent(this)" for="txtarea"
        placeholder="Mensaje..."></textarea>


    <span class="input-group-btn">
        <button {{action 'createMensaje' textMensaje}}class="btn btn-info" float="right" type="button" style="border-radius: 1px; position:fixed; height: 45px ">Enviar</button>
    </span>
</div> --}}