{{!--
<div class="container">
    <br>
    <div class="container" style="text-align: center">


        {{input type="text" name="" class="form-control" placeholder="desc" value=descrip}}
        <br> {{input type="text" name="" class="form-control" placeholder="email" value=correo}}
        <br> {{input type="text" name="" class="form-control" placeholder="id" value=codigo}}
        <br> {{input type="text" name="" class="form-control" placeholder="img" value=imagen}}
        <br> {{input type="text" name="" class="form-control" placeholder="job" value=ocupacion}}
        <br> {{input type="text" name="" class="form-control" placeholder="nombre" value=nombre}}
        <br> {{input type="text" name="" class="form-control" placeholder="red " value=redsocial}}
        <br>
        <button {{action 'registrarPersona'}} class="btn btn-dark btn-lg btnLogin">Acceder</button>

    </div>


    {{#each model as |ponentes|}}


    <h4>{{ponentes.ids}}</h4>
    <h4>{{ponentes.name}}</h4>
    <img src={{ponentes.img}} alt=""> {{/each}}

</div> --}}


<br>
<div class="container" style="text-align: center">

    {{input type="text" name="" class="form-control" placeholder="desc" value=nombre}}

    <button {{action 'registrarEvento'}} class="btn btn-dark btn-lg btnLogin">Registrar Evento</button>

</div>


{{#each model.cargarCuenta as |cuenta|}}

<label style="color: black">{{cuenta.id}}</label>
<br>
<label style="color: black">{{cuenta.name}}</label>
<br>
<hr>

{{/each}}


<hr style="background-color: black">


<br>
<div class="container" style="text-align: center">

    {{input type="text" name="" class="form-control" placeholder="desc" value=account}}

    <button {{action 'registrarAccount'}} class="btn btn-dark btn-lg btnLogin">Registrar Cuenta</button>

</div>

{{#each model.cargarEvento as |evento|}}

<label style="color: black">{{evento.id}}</label>
<br>
<label style="color: black">{{evento.name}}</label>
<br>

    {{#each evento.account as |cuentaEvento|}}

        idCuenta {{cuentaEvento.id}}  <br>
        nombre
        {{input type="text" value=cuentaEvento.name}} <br>
        {{input type="text" value=cuentaEvento.interes}} <br>
        <img src="{{cuentaEvento.img}}"/>                
        <button {{action 'crearAccount' evento cuentaEvento }}>Guardar dir</button>        
        {{else}}
        No tiene cuentas
        <br>
    {{/each}}
    <button {{action 'agregarAccount' evento }}>Agregar Cuenta</button> <br>


<hr>

{{/each}}


<button {{action 'registrarToken'}} class="btn btn-dark btn-lg btnLogin">Registrar Token</button>